{% extends 'base.html' %}

{% block content %}

 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Kenilworth aquarium...</p>
        </div>
    </div>
</header>

<br/><br/>

<div class="container">
    <div class="row" style="padding-left: 20%;">
        <div class="col-9">
            <p style="text-justify: auto;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis felis metus, pretium nec ex eget, facilisis hendrerit turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque tempor ultrices imperdiet. Morbi ac euismod neque, vitae fermentum nisi. Sed id sem gravida dolor tempor egestas ac sed quam. Mauris posuere tellus id nunc varius, ac ultrices tellus ullamcorper. Nam quis nunc arcu. Quisque vel massa commodo, porttitor ex vehicula, pellentesque diam. Fusce molestie mauris est, nec luctus felis scelerisque vulputate. Sed orci sem, placerat vel enim sed, sodales facilisis urna.
                <br/><br/>
                Maecenas justo turpis, efficitur nec nisl eu, iaculis lacinia augue. Phasellus ullamcorper diam elit, eu vehicula urna ullamcorper sit amet. Nam ultricies massa urna, a ultricies enim pretium quis. Mauris id posuere lorem. Curabitur ultrices non sapien quis aliquet. Integer consectetur rhoncus nibh in gravida. Donec a sapien dapibus, iaculis nibh ac, facilisis lectus. Sed diam magna, mollis sed pretium eu, semper sit amet quam. Maecenas fringilla consectetur dignissim. In hac habitasse platea dictumst. Proin varius fringilla turpis, non molestie justo convallis a. 
            </p>
        </div>
    </div>
</div>

<br/><br/>

{% endblock %}